.cardcontainer {
    width: 250px;
    margin: 20px;
    padding:10px;
    border-radius: 12px;
    border:none;
    background-color: transparent;
  }

  .titulo {
    color: #f98f6e;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }



  



