.card-container {
    width: 250px;
    margin: 20px;
    padding:10px;
    border-radius: 12px;
    list-style: none;
    text-decoration: none;
    border:none;
    background-color: #eed7d5;
  }

  .titulo {
    color: #f98f6e;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  



